{% load static %}

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Ocorrencias</title>

    <!-- Carregando Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="{% static 'css/pages-css/custo-por-ocorrencia.css' %}" crossorigin="anonymous">
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{% static './imagens/logo-samu.png' %}" width="120" height="70" class="d-inline-block align-top" alt="">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link show-warning" href="#">Solicitante<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show-warning" href="#">Paciente</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ocorrencia
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Custo por ocorrência</a>
                    <a class="dropdown-item show-warning" href="#">Medicação/Item</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item show-warning" href="#">Viaturas</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link show-warning disabled" href="#">Link1</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/logout">Sair</a>
                </li>
                {% endif %}
            </ul>

            <svg style="color:#dc3545; margin:3px;" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            </svg>
            <p id="time"></p>
        </div>
    </nav>

    <div class="container">
        <div class="row div-caixa-ferramentas">
            <div class="col-sm"></div>
            <div class="col-sm">
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".modal-lg-medicacao-ou-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16" >
                        <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"></path>
                    </svg>
                    <span>
                        MAT.
                    </span>
                </button>

                <button type="button" class="btn btn-secondary btn-sm btn-show-modal-vtr" data-toggle="modal" data-target=".modal-lg-viatura">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-car-front" viewBox="0 0 16 16">
                        <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17 1.247 0 2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276Z"/>
                        <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.807.807 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155 1.806 0 4.037-.084 5.592-.155A1.479 1.479 0 0 0 15 9.611v-.413c0-.099-.01-.197-.03-.294l-.335-1.68a.807.807 0 0 0-.43-.563 1.807 1.807 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3H4.82Z"/>
                    </svg>
                    <span>
                        VTR.
                    </span>
                </button>

                <button type="button" class="btn btn-secondary btn-sm btn-show-modal-turno" data-toggle="modal" data-target=".modal-lg-turno">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path>
                      </svg>
                    <span>
                        TUR.
                    </span>
                </button>

                <button type="button" class="btn btn-secondary btn-sm btn-show-categoria-ocorrencia" data-toggle="modal" data-target=".modal-lg-categoria-ocorrencia">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                        <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                    </svg>
                    <span>
                        C.OC.
                    </span>
                </button>

                <button type="button" class="btn btn-secondary btn-sm btn-show-modal-ocorrencia" data-toggle="modal" data-target=".modal-lg-ocorrencia">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                        <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                    </svg>
                    <span>
                        OCO.
                    </span>
                </button>
            </div>
            {% comment %} <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".modal-lg-medicacao-ou-item" value="{{ o.numero_ocorrencia }}">Material</button> {% endcomment %}
        </div>

        <form action="{% url 'sistema:inserir-espec-ocorrencia' %}" method="POST" id="form-espec-ocorrencia">
            {% csrf_token %}
            <div class="row primeira-grande-linha">
                <div class="col-sm">
                    <div class="child-1-col-1-row">
                        <h5 class="titulos-h5">Ocorrência</h5>

                        {% comment %} Exemplo da linha (Referência) {% endcomment %}
                        <div class="p1 dv-add-ocorrencia">
                            <div class="row">
                                <div class="col">
                                    <label for="">N° da ocorrência</label>
                                    <input type="number" class="form-control form-control-sm" placeholder="" name="numero_ocorrencia" value="{{numero_ocorrencia}}" required oninvalid="this.setCustomValidity('Este é um campo obrigatório!')" oninput="setCustomValidity('')">
                                </div>
                                <div class="col">
                                        <label >Viatura</label>
                                        <select class="form-control form-control-sm" name="ambulancia_ocorrencia">

                                        </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="">Data</label>
                                    <input type="date" class="form-control form-control-sm" value="" placeholder="Solicitante" name="data_ocorrencia">
                                </div>
                                <div class="col">
                                    <label for="">Turno</label>
                                    <select class="form-control form-control-sm" name="turno_ocorrencia">

                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label>Natureza</label>
                                    <select class="form-control form-control-sm" name="tipo_ocorrencia"></select>
                                </div>

                                <div class="col">
                                    <label >Tipo de ocorrência</label>
                                    <select class="form-control form-control-sm" name="categoria_ocorrencia"></select>
                                </div>
                            </div>

                            {% comment %} <button type="submit" class="btn btn-secondary">Registrar</button> {% endcomment %}

                        </div>
                        
                        <div class="form-row dv-btn-register-items-by-occurrences">
                            
                            <div class="add-more-supplies-button">
                                <button type="submit" class=" btn btn-sm btn-secondary">Registrar</button>

                                <button type="button" class="btn btn-danger btn-sm btn-mostrar-dv-carrinho-suprimento" data-toggle="modal" data-target=".modal-lg-carrinho-suprimentos">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                    <span>
                                        Suprimentos
                                    </span>
                                </button>
    
                                {% comment %} <button type="button" class="btn btn-outline-secondary btn-sm btn-show-modal-ocorrencia" data-toggle="modal" data-target=".modal-lg-carrinho-suprimentos">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                                    </svg>
                                    <span>
                                        Ver
                                    </span>
                                </button> {% endcomment %}
                            </div>
                            {% comment %} <button type="button" class=" btn btn-secondary">Limpar</button>    {% endcomment %}
                        </div>
                    </div>
                    
                    {% comment %} <div>
                    </div> {% endcomment %}

                    {% comment %} <div class="child-1-col-1-row">
                    </div> {% endcomment %}
                </div>
                <div class="col-sm div-tabela-ocorrencias">
                    <table class="table table-hover table-striped tabela-ocorrencias">
                        <thead>
                        <tr class="bg-danger">
                            <th scope="col">Ocorr.</th>
                            <th scope="col">Natureza</th>
                            <th scope="col">Viatura</th>
                            <th scope="col">V. Final</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for o in especOcorrencia %}
                                <tr>
                                    <td>{{ o.numero_ocorrencia }}</td>
                                    <td>{{ o.tipo_ocorrencia }}</td>
                                    <td>{{ o.ambulancia_ocorrencia }}</td>
                                    <td>{{ o.suprimentos.valor_final }}</td>
                                    <td class="">
                                    <button type="button" class="btn btn-outline-secondary btn-sm btn-edicao-ocorrencia" data-toggle="modal" data-target=".modal-lg-especificacao-ocorrencia" value="{{ o.numero_ocorrencia }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eyedropper" viewBox="0 0 16 16">
                                            <path d="M13.354.646a1.207 1.207 0 0 0-1.708 0L8.5 3.793l-.646-.647a.5.5 0 1 0-.708.708L8.293 5l-7.147 7.146A.5.5 0 0 0 1 12.5v1.793l-.854.853a.5.5 0 1 0 .708.707L1.707 15H3.5a.5.5 0 0 0 .354-.146L11 7.707l1.146 1.147a.5.5 0 0 0 .708-.708l-.647-.646 3.147-3.146a1.207 1.207 0 0 0 0-1.708l-2-2zM2 12.707l7-7L10.293 7l-7 7H2v-1.293z"/>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm btn-excluir-ocorrencia" value="{{ o.numero_ocorrencia }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>


    </div>

    {% comment %} Msgs: {% endcomment %}
    {% include "../includes/alertas.html" %}
    {% comment %} Msgs. {% endcomment %}

    {% comment %} Modals aqui: {% endcomment %}
    {% include "../includes/carrinho-suprimentos.html" %}
    {% include "../includes/categoria-ocorrencia.html" %}
    {% include "../includes/ocorrencia.html" %}
    {% include "../includes/turno.html" %}
    {% include "../includes/material.html" %}
    {% include "../includes/viaturas.html" %}
    {% include "../includes/especOcorrencia.html" %}
    {% comment %} Modals aqui. {% endcomment %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="{% static 'js/pages-js/custo-por-ocorrencia.js' %}" defer></script>
</body>
</html>