<div class="modal modal-dashboard-{% block modal_number %}{% endblock %}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% block cabecalho_modal %}{% endblock %}
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% block corpo_modal %}{% endblock %}
            </div>
            <div class="modal-footer">
                {% comment %} {% block rodape_do_modal %}{% endblock %} {% endcomment %}

                {% block botao_enviar %}{% endblock %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>