{% extends '../modals/modals.html' %}

{% load static %}

{% block modal_path %}carrinho-suprimentos{% endblock %}
{% block modal_sm_path %}carrinho-suprimentos{% endblock %}

{% block cabecalho_modal %}
    <div class="">
        <h5 class="titulos-h5">Adicionar Suprimentos</h5>
    </div>
{% endblock %}

{% block corpo_modal %}
    <div class="container">
        <div class="dv-add-suprimentos">
            <div class="row">
                <div class="form-group col">
                    <label for="">Item</label>

                    <select class="form-control form-control-sm select-material" name="codigo_material">
                        <option value="">*** SELECIONE ***</option>
                        {% for material in materials %}
                            <option value="{{material.codigo_material}}">{{material.nome_material}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col">
                    <label >Valor</label>
                    <input type="text" class="form-control form-control-sm" placeholder="" name="valor_material" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Quantidade</label>
                    <input type="number" min="0" class="form-control form-control-sm" value="0" placeholder="" name="quantidade" onChange="produtoDoValorComQuantidade(this.value)">
                </div>
                <div class="col">
                    <label for=""><b>Valor total</b></label>
                    <input type="text" class="form-control form-control-sm" value="" placeholder="" name="valor_total" readonly>
                </div>
            </div>

            <div class="dv-abrigar-codigo-carrinho-suprimentos"></div>

            <div class="dv-abrigar-numero-ocorrencia"></div>

            <button type="submit" class="btn btn-sm btn-warning btn-adicionar-suprimento-no-carrinho" style="margin-top:8px; margin-bottom:10px;">Inserir</button>
        </div>
        
        <hr>

        <h5 class="titulos-h5">Descrição</h5>
        <table class="table table-hover tabela-carrinho-suprimentos">
            <thead>
            <tr class="bg-danger">
                <th scope="col">Item</th>
                <th scope="col">Qtd.</th>
                <th scope="col">Vlr.</th>
                <th scope="col">V.Total</th>
                <th scope="col">Ação</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
{% endblock %}

{% block rodape_left_item %}
<div class="dv-mostra-valor-final"></div>
{% endblock %}

{% block botao_enviar %}
<button type="button" class="btn btn-sm btn-finalizar-carrinho-suprimentos" data-dismiss="modal">Finalizar</button>
{% endblock %}

{% comment %} Modal-sm: {% endcomment %}
{% block cabecalho_modal_sm %}
<div >
    <h5 class="titulos-h5">Edição da Categ. Ocorrência</h5>
</div>
{% endblock %}

{% block corpo_modal_sm %}
<div class="row">
    <div class="form-group col">
        <label for="">Cod.</label>
        <input type="number" min="0" class="form-control form-control-sm" placeholder="" name="codigo">
    </div>
    <div class="form-group col">
        <label>Tipo</label>
        <select class="form-control form-control-sm" name="codigo_ocorrencia">

        </select>
    </div>
    <div class="form-group col">
        <label for="">Categ. Ocorrência</label>
        <input type="text" class="form-control form-control-sm" placeholder="" name="categoria_ocorrencia">
    </div>
</div>
{% endblock %}

{% block botao_enviar_sm %}
<button type="button" class="btn btn-sm btn-editar-categoria-ocorrencia">Salvar</button>
{% endblock %}
{% comment %} Modal-sm. {% endcomment %}