{% extends '../modals/modals.html' %}
{% load static %}

{% block modal_path %}especificacao-ocorrencia{% endblock %}
{% block modal_sm_path %}especificacao-ocorrencia{% endblock %}

{% block cabecalho_modal %}
    <div class="controle-modal-grafico-de-barras">
        <h5 class="titulos-h5">Alteração da ocorrência</h5>
    </div>
{% endblock %}

{% block corpo_modal %}
    <div class="container">
        <form action="{% url 'sistema:editar-espec-ocorrencia'  %}" method="POST" id="form-editar-espec-ocorrencia">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm">
                    <label>N° DA OCORRENCIA</label>
                    <input type="text" class="form-control form-control-sm" placeholder="" name="numero_ocorrencia" readonly>
                    
                    <label >Viatura</label>
                    <select class="form-control form-control-sm" name="ambulancia_ocorrencia">
                        <option value="B01" selected>B01</option>
                        <option value="B02">B02</option>
                        <option value="B03" value="2">B03</option>
                        <option value="B04">B04</option>
                        <option value="VSA1">VSA1</option>
                        <option value="VSA2">VSA2</option>
                        <option value="CME">CME</option>
                    </select>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col">
                            <label>DATA</label>
                            <input type="date" class="form-control form-control-sm" placeholder="" name="data_ocorrencia">
                        </div>
                        <div class="col">
                            <label>Turno</label>
                            <select class="form-control form-control-sm" name="turno_ocorrencia"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Tipo ocorrência</label>
                            <select class="form-control form-control-sm" name="tipo_ocorrencia"></select>
                        </div>

                        <div class="col">
                            <label>Ocorrência</label>
                            <select class="form-control form-control-sm" name="categoria_ocorrencia"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-secondary" form="form-editar-espec-ocorrencia">Alterar</button>
                </div>
            </div>
        </form>

        {% comment %} <form action="{% url 'sistema:editar-espec-ocorrencia' %}" method="POST" id="edicao-suprimentos-usados">
            {% csrf_token %} {% endcomment %}
        <div id="edicao-suprimentos-usados">
            <input style="display:none;visibility:hidden;" type="text" class="form-control form-control-sm" value="" name="numero_ocorrencia" readonly>

            <div class="row">
                <div class="col-sm">
                    <h5 class="titulos-h5">
                        Medicações

                        <button style="float: right; margin-bottom:7px;" type="button" class="btn btn-dark btn-sm btn-mostrar-modal-material-espec-ocorrencia" data-toggle="modal" data-target=".modal-sm-especificacao-ocorrencia">
                            <svg style="vertical-align:middle;" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
                            </svg>
                            <span style="vertical-align:middle;">
                            Adicionar
                            </span>
                        </button>
                    </h5>
                    
                    <table class="table table-bordered table-sm tabela-edicao-medicamento">
                        <thead style="text-align:center;">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Qtd.</th>
                            <th scope="col">V.Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    
                    <div class="form-row dv-btn-register-items-by-occurrences">
                        {% comment %} <button type="submit" class=" btn btn-secondary">Alterar</button> {% endcomment %}
                        {% comment %} <button type="button" class=" btn btn-secondary">Limpar</button>    {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %} </form> {% endcomment %}
    </div>


{% endblock %}


{% block cabecalho_modal_sm %}
<div >
    <h5 class="titulos-h5">Adicionar suprimentos para ocorrência</h5>
</div>
{% endblock %}

{% block corpo_modal_sm %}
<div class="row">
    <div class="col">
        <label for="">Item</label>

        <select class="form-control form-control-sm select-material" name="codigo_material">
            <option value="">*** SELECIONE ***</option>
            {% for material in materials %}
                <option value="{{material.codigo_material}}">{{material.nome_material}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <label >Valor</label>
        <input type="text" class="form-control form-control-sm" placeholder="" name="valor_material" readonly>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="">Quantidade</label>
        <input type="number" min="0" class="form-control form-control-sm" value="0" placeholder="" name="quantidade" onChange="produtoDoValorComQuantidade(this.value)">
    </div>
    <div class="col">
        <label for=""><b>Valor total</b></label>
        <input type="text" class="form-control form-control-sm" value="" placeholder="" name="valor_total" readonly>
    </div>
</div>
{% endblock %}

{% block botao_enviar_sm %}
<button type="submit" class="btn btn-sm btn-success btn-inserir-material-espec-ocorrencia">Salvar</button>
{% endblock %}

{% block rodape_left_item %}
<div class="dv-mostra-valor-final">{%comment%}<button type="button" class="btn btn-sm btn-outline-success">V. Final: R$ 19,50</button>{%endcomment%}</div>
{% endblock %}

{% block botao_enviar %}
{% comment %} <button type="submit" class="btn" form="form-inserir-material">Salvar</button> {% endcomment %}
{% endblock %}