* {
    padding: 0.1px;
    margin: 0.1px;
}

#time {
    margin-top: revert !important;
}
.titulos-h5 {
    margin-top: 7px;
    color: red;
}

.dv-btn-register-items-by-occurrences {
    margin-top: 10px;
}

.dv-btn-register-items-by-occurrences button{
    margin: 5px;
}

.child-1-col-1-row{
    border: 0.1px solid #ced4da;
    padding: 10px;
}

.tabela-ocorrencias{
    font-size: small;
}

/* Modals */
.tabela-edicao-medicamento input {
    top: 0;
    left: 0;
    margin: 0;
    height: 100% !important;
    width: 100% !important;
    border: none;
    padding: 10px ;
    box-sizing: border-box;
}
.tabela-edicao-medicamento select {
    top: 0;
    left: 0;
    margin: 0;
    height: 100% !important;
    width: 100% !important;
    border: none !important;
    padding: 10px !important;
    box-sizing: border-box;
}
.div-tabela-ocorrencias {
    display: inline-block;
    height: 510px;
    overflow: auto;
    padding-right: 0 !important;
}
.div-tabela-ocorrencias table {
    height: 100%;
}

.div-caixa-ferramentas svg, span{
    vertical-align: middle;
}

.btn-indicadores span, svg {
    vertical-align: middle;
}

.add-more-supplies-button {
    float: right;
}
.add-more-supplies-button svg, span{
    vertical-align: middle;
}

.div-caixa-ferramentas button{
    /* margin-right: 5px; */
    float: right;
    margin: 1px;
}

.btn-editar-material-espec-ocorrencia{
    margin-top: 10%;
}
.btn-excluir-material-espec-ocorrencia{
    margin-top: 10%;
}

.modal-sm-especificacao-ocorrencia{
    padding-bottom: 20px;
}

/* Msgs: */
.mensagem-de-aviso {
    display: none;
    position: absolute;
    top: 05px;
    right: 10px;
}
/* Msgs. */

/* Indicadores: */
.modal-lg-indicadores .modal-header {
    display: none;
}
.modal-lg-indicadores {
    zoom: 1.20;
}
.modal-lg-indicadores .modal-content {
    background-color: #f8f9fa;
    /* background-color: transparent; */
    border: none;
}
.modal-lg-indicadores .modal-footer {
    display: none;
}
/* Indicadores. */