{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de Login</title>

    <link rel="shortcut icon" href="{% static 'imagens/simatran-sf-ico.png' %}" type="image/png">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-css/bootstrap.min.css' %}">
<!--    <link rel="stylesheet" href="{% static 'css/bootstrap-css/all.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/pages-css/auth.css' %}" defer>
    <script !src="{% static 'js/bootstrap-js/bootstrap.min.js' %}"></script>
</head>
<body>
    <section class="vh-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 text-black">

            <div class="px-5 ms-xl-4">
              <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
              <span class="h1 fw-bold mb-0"><img width="300px" src="{% static 'imagens/simatran-sf.png' %}" alt="Logo Simatran"></span>
            </div>

            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

              <form action="{% url 'login' %}" method="POST" style="width: 23rem;">
                {% csrf_token %}
                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Entrar no Sistema</h3>

                <div class="form-outline mb-4">
                    <label class="form-label" for="">Usuário</label>
                    <input type="text" name="login" id="form2Example18" class="form-control form-control-lg" placeholder="Email / Nome de Usuário" />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="">Senha</label>
                    <input type="password" name="senha" id="form2Example28" class="form-control form-control-lg" placeholder="Senha..." />
                </div>

                <div class="pt-1 mb-4">
                  <button class="btn btn-info btn-lg btn-block" type="submit">Entrar</button>
                </div>

                <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Esqueceu a senha?</a></p>
                <p>Não tem uma conta? <a href="{% url 'cadastro' %}" class="link-info">Registre-se aqui!</a></p>

              </form>

            </div>

          </div>
          <div class="col-sm-6 px-0 d-none d-sm-block">
            <figure id="container-figure" style="height: 100%;">
                <img src="{% static 'imagens/Mapa-de-calor-001.png' %}"
          alt="Mapa-de-calor-001.png" class="w-100 vh-100" style="object-fit: cover; object-position: center;">
                <figcaption><b>Registro de trânsito da capital de RR baseado em ferramentas de IA</b></figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>

</body>
</html>